$default: #cccccc;
$default-fg: #333333;

$primary: #36A2EB;
$primary-fg: #fdfdfd;

$info: #65BDFF;
$info-fg: #fdfdfd;

$success: #4BC0C0;
$success-fg: #fdfdfd;

$warning: #FFAE7C;
$warning-fg: #fdfdfd;

$danger: #FF4656;
$danger-fg: #fdfdfd;

$darkenFactor: 0.85;
$lightenFactor: 1.15;
