@import 'colors';

.h-default {
    color: $default;
}
.h-primary {
    color: $primary;
}
.h-info {
    color: $info;
}
.h-success {
    color: $success;
}
.h-warning {
    color: $warning;
}
.h-danger {
    color: $danger;
}
